.page-wrapper {
  height: 100vh;
  display: flex;
}

.left-side-main {
  background-color: white;
}

.left-side-main,
.right-side-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em;
}

.form-wrapper {
  max-width: 500px;
}

.main-txt {
  font-size: 1.5rem;
  font-weight: 500;
}

.input-main-screen {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #9caccb;
  color: black;
  padding: 5px 0;
  padding-left: 0.75em;
  margin-top: 1em;
  font-size: 0.85rem;
}

.input-main-screen:focus {
  outline: none !important;
  border: 2px solid #7e59ed;
}

.sign-in-btn {
  color: white;
  background-color: #7e59ed;
  width: 100%;
  padding: 0.5em 0;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 2em;
}

.sign-in-btn:hover,
.sign-in-btn:focus {
  cursor: pointer;
}

.left-side-main ::-webkit-input-placeholder {
  color: #9caccb;
}

.left-side-main ::-moz-placeholder {
  color: #9caccb;
}

.left-side-main ::-ms-placeholder {
  color: #9caccb;
}

.left-side-main ::placeholder {
  color: #9caccb;
}

body {
  background-image: linear-gradient(
    270deg,
    hsl(39deg 100% 57%) 0%,
    hsl(40deg 100% 59%) 17%,
    hsl(41deg 99% 61%) 25%,
    hsl(41deg 99% 62%) 31%,
    hsl(42deg 98% 64%) 37%,
    hsl(44deg 98% 66%) 42%,
    hsl(45deg 98% 67%) 47%,
    hsl(46deg 97% 69%) 53%,
    hsl(47deg 97% 71%) 58%,
    hsl(48deg 97% 72%) 63%,
    hsl(50deg 98% 74%) 69%,
    hsl(51deg 98% 76%) 75%,
    hsl(53deg 99% 78%) 83%,
    hsl(55deg 100% 80%) 100%
  );
}
