.store-section-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.create-a-product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
