.store-section-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  padding-right: 2.5em;
  /* max-width: 1500px; */
}

.create-a-product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-weight: 400;
}
