.data-card {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.data-card small {
  background-color: blue;
}

.data-card:first-child {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.data-card :not(:first-child) {
  margin: auto;
}

.card-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 1.5em;
  padding: 1em;
  height: 100vh;
}

.responsive-container {
  /* border: 2px solid green; */
}

.card-title {
  margin-right: auto;
  margin-top: 1em;
  margin-left: 1em;
}

.small-card-title {
  margin-top: 1em;
  font-weight: 500;
}
