.summary-wrapper {
  background-color: #f3f5fa;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 900px;
  padding: 2em;
  border: none;
}

.total-amt-dollars {
  font-size: 2.75rem;
  color: blueviolet;
  font-weight: 600;
}

.amount-details {
  border-bottom: 1px solid rgba(173, 170, 170, 0.555);
  width: 100%;
  padding: 0.75em;
  padding-bottom: 3em;
  margin-bottom: 1.5em;
}

.total-amount {
  font-size: 1 rem;
}

.order-summary {
  text-align: left;
  font-weight: 700;
  margin-bottom: 0.75em;
}

.order-details {
  width: 100%;
  padding: 1.5em;
}

.additional-details {
  width: 100%;
  border-bottom: 1px solid rgba(173, 170, 170, 0.555);
  padding: 1.5em;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-row-total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}

.row-label {
  opacity: 0.45;
  font-size: 1rem !important;
  font-weight: 500;
}

.secure-payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0.65;
  margin-top: -0.35em;
}

.secure-payment > span {
  font-size: 0.75rem;
}

.lock-icon {
  height: 14px !important;
  width: 14px !important;
  color: #19a066;
}

.order-summary-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: .5em; */
}

.order-summary-items-elements {
  list-style-type: none;
}
