.product-gallery-wrapper {
  height: 100%;
  padding: 3em 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  align-items: center;
  justify-items: center;
}

.gallery-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-information {
  max-width: 475px;
}

.overall-screen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-to-cart-btn {
  color: white;
  background-color: #7047eb;
  width: 100%;
  padding: 0.5em 0;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 1em;
  margin-top: 2.25em;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
  cursor: pointer;
}

.divider-line {
  height: 3px;
  background-color: black;
  width: 5em;
  margin-block: 1em;
}

.ratings {
  display: flex;
  align-items: center;
  margin-block: 1em;
}

.star-icon-rating {
  height: 20px !important;
  margin-right: -5px;
  color: #7047eb;
}

.star-icon-rating:last-of-type {
  margin-right: 0.5em;
}

.product-description {
  font-size: 1rem;

  margin-bottom: 2.75em;
}

.quantity-product-page {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  justify-content: space-between;
  font-weight: 700;
}

.quantity-product-page-value {
  width: 3em;
  border: none;
  text-align: center;
}

.increment-decrement-section {
  display: flex;
  align-items: center;
}

.increment-decrement-section > span {
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
  user-select: none;
}

.increment-decrement-section > span:hover,
.increment-decrement-section > span:focus {
  cursor: pointer;
}

.logo {
  font-size: 1.75rem;
  letter-spacing: 4px;
}

.product-page-header-wrapper {
  /* border: 2px solid red; */
  padding: 0.75em 12em;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
